<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/app.css">
    <title>ETTI.CONNECT</title>
</head>

<body>
    <% if (currentPath == "/" || currentPath == "/login" || currentPath == "/register"){%>
        <nav>
            <p id="logo">ETTI.CONNECT</p>
            <ul id="login-register-ul">

                <% if(!currentUser && currentPath =='/' ){ %>
                    <li class="login-link"><a href="/login">Intră în cont</a></li>
                    <li><a href="/register" class="blue-btn">Creează cont</a></li>
                    <% } else if (currentUser && currentPath =='/'){ %>
                        <li><a href="/logout">Logout</a></li>
                        <% } %>
                            <% if(currentPath == '/login') {%>
                                <li><a href="/" class="blue-btn">Pagina principală</a></li>


                                <% } %>
                                    <% if(currentPath == '/register') {%>
                                        <li><a href="/" class="blue-btn">Pagina principală</a></li>
                                        <% } %>

            </ul>
        </nav>
        <%} %>


            <%- body %>

</body>

</html>