<% layout('layouts/boilerplate') %>


    <section id="top-section">

        <h1>Colaborează cu colegii tăi</h1>
        <h2>Toate resursele de care ai nevoie, doar la un click distanță.</h2>


        <div id="start-know-more">
            <a href="/register" class="blue-btn">Începe</a>
            <a href="#how-it-works" class="works">Cum funcționează?</a>
        </div>
    </section>

    <section id="how-it-works">



        <section class="division">

            <img src="/resources/spending-time-at-home.png" alt="spending-time-at-home">
            <div class="description">
                <h2>MATERIALE</h2>
                <h3>Cauți un curs anume?</h3>
                <P>Navighează prin colecția pusă la dispoziție de colegii tăi, sau fii unul dintre contribuitori! Aici te așteaptă toate notițele colegilor, organizate ca tu să le folosești cât mai repede.</p>

            </div>

        </section>


        <section class="division">

            <div class="description">
                <h2>TUTORAT</h2>
                <h3>Ești tutore?</h3>
                <P>Postează anunțuri, încarcă materiale și participă la conversații!</p>

            </div>
            <img src="/resources/searching-for-universities-online.png" alt="searching-for-universities-online">

        </section>


        <section class="division">

            <img src="/resources/chatting.png" alt="chatting">
            <div class="description">
                <h2>DISCUȚII</h2>
                <h3>Ai vreo nelămurire?</h3>
                <P>Inițiază o conversație cu unul dintre tutori, iar acesta îți va răspunde în cel mai scurt timp.</p>

            </div>


        </section>

    </section>

    <section id="call-to-action">
        <h2>Fă parte din <span class="orange">ETTI.CONNECT</span></h2>
        <p>Creează un cont și bucură-te de tot ce ți-au pus la dispoziție colegii tăi. Încarcă propriile documente și ajută mai departe comunitatea.</p>
        <a href="/register" class="blue-btn">Creează cont</a>
    </section>